* {
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: grid;
    background-image: url(../IMG/img_design/stars-bg.png);
    overflow-x: hidden;
}

.Header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
}

li {
    list-style-type: none;
}

.Header a {
    text-decoration: none;
    display: block;
    transition: .3s ease;
}

.Header a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}
#main{
    margin-top: -100px;
}
#main .text-light {
    z-index: 0;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    margin-top: 200px;
    text-shadow: 3px 3px rgba(41, 29, 29);
    opacity: 1;
    animation: anim 7s forwards;

}
@keyframes anim {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
#nav .row {
    margin-top: 50px;
    padding-top: 10px;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    background-image: -webkit-linear-gradient(rgb(117, 222, 117),rgb(225, 247, 224));
}

#sec_2 .row .col-md-3 {
    width: 250px;
    border: 1px solid white;
    margin: 20px 10px;
}

#sec_2 h6 {
    color: white;
    margin-top: 10px;
    height: 60px;
}

#sec_2 h5 {
    color: red;

}

#sec_2 .img-fluid {
    margin-top: 10px;
}

#sec_3 .row .col-md-3 {
    width: 250px;
    border: 1px solid white;
    margin: 20px 10px;
}

#sec_3 h6 {
    color: white;
    margin-top: 10px;
    height: 60px;
}

#sec_3 h5 {
    color: red;

}

#sec_3 .img-fluid {
    margin-top: 10px;
}

#sec_4 .row .col-md-3 {
    width: 250px;
    border: 1px solid white;
    margin: 20px 10px;
}

#sec_4 h6 {
    color: white;
    margin-top: 10px;
    height: 60px;
}

#sec_4 h5 {
    color: red;

}

#sec_4 .img-fluid {
    margin-top: 10px;
}

#sec_5 .row .col-md-3 {
    width: 250px;
    border: 1px solid white;
    margin: 20px 10px;
}

#sec_5 h6 {
    color: white;
    margin-top: 10px;
    height: 60px;
}

#sec_5 h5 {
    color: red;

}

#sec_5 .img-fluid {
    margin-top: 10px;
}

#sec_6 .row .col-md-3 {
    width: 250px;
    border: 1px solid white;
    margin: 20px 10px;
}

#sec_6 h6 {
    color: white;
    margin-top: 10px;
    height: 60px;
}

#sec_6 h5 {
    color: red;

}

#sec_6 .img-fluid {
    margin-top: 10px;
}


.img-container {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.img-fluid {
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu sắc của overlay */
}

.img-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 12px;
    background-color: #16171d;
    outline: none;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}

.input::placeholder {
    color: #bdbecb;
}

.input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
}
.product {
    float: left;
    width: 100%;
    max-width: 300px; /* Chiều rộng cố định hoặc theo yêu cầu */
    margin: 10px;
}

.hidden {
    display: none;
}
input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.sticky-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    display: flex;
    flex-direction: column;
    width: 20px;
    z-index: 1000;
}

.sticky-menu a {
    text-decoration: none;
    color: yellowgreen;
}

.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: width 0.3s ease-in-out;
    width: 40px;
    background-color: grey;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    margin-top: 5px;

}

.menu-item .menu-icon {
    font-size: 24px;
    margin-left: 10px;
    color: yellow;

}

.menu-item .text {
    opacity: 0;
    display: none;
    margin-left: 10px;
    transition: opacity 0.3s ease-in-out;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.menu-item:hover {
    width: 200px;
    /* Expand horizontally on hover */
}

.menu-item:hover .text {
    display: block;
    /* Show text on hover */
    opacity: 1;
}

.Footer {
    margin-top: 200px;
    height: auto;
    width: 100%;
    background-image: -webkit-linear-gradient(rgb(56, 57, 57), rgb(0, 0, 0));
    color: white;
    clear: both;
    font-size: 12px;

}

.Footer a {
    color: snow;
    text-decoration: none;
    transition: text-decoration-color 300ms;
    position: relative;
    padding: 0.2em 0;

}

.Footer a:hover::after,
.Footer a:hover::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.Footer a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(255, 4, 4);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.Footer li:nth-child(3) a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.Footer li:nth-child(3) a:hover::after,
.Footer li:nth-child(3) a:focus::after {
    transform: scale(1);
}