body {
  background-color: white;
}
header {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  height: 150px;
  top: 0;
  position: relative;
  z-index: 1;
  background-image: url(../IMG/img1.jpg);
}
.dropdown {
  padding-left: 30px;
  margin-left: 40px;
  z-index: 1;
  position: sticky; 
  position: absolute; /* Định vị menu liên quan đến .menu */
}
.dropdown-menu {
  z-index: 1;
}
.dropdown-item:hover {
  background: black;
  color: white;
}
nav {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  width: 100%;
  margin-left: left;

  top: 0;
}
#menu ul {
  list-style-type: none;
}
#menu li {
  display: inline;
}
#menu a {
  color: black;
  margin-left: 50px;
  text-decoration: none;
}
#menu .p-2:hover {
  color: yellow;
}
#font {
  font-family: Serif;
  margin-left: 50px;
}
section {
  width: 30%;
  height: 500px;
  float: left;
  overflow: hidden;
}
aside {
  width: 70%;
  height: 1000px;
  border-radius: 5px;
  float: left;
  justify-content: space-between;
  padding: 20px;
  overflow: auto; /*cuon trang */
  overflow-x: hidden;
}
.table1 {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
th {
  margin: auto;
  height: 55px;
}
.content1 {
  margin: auto;
  background-image: black;
}
.styled-table {
  border-collapse: collapse;
  margin-top: 10px;
  margin-left: 100px;
  padding: 10px;
  border-spacing: 30px;
}
td {
  border-radius: 10px;
  background-color: aquamarine;
  height: 50px;
  text-align: center;
}
nav p span {
  color: chartreuse;
}
#title {
  list-style-type: none;
  display: inline-block;
}
.vehicle-tile {
  border: 2px groove rgb(202, 190, 190);
  width: 49%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background-size: contain;
  background-position: center;
  float: left;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  overflow: auto;
}
svg {
  text-align: center;
  width: 5%;
}
.vehicle-tile img {
  width: 70%;
}
#menu li {
  font-size: 20px;
  text-indent: 10px;
}