emh-product-details {
  display: block;
  min-height: 100vh;
}

mh-usabilla-feedback.webcomponent {
  width: 90%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 48em) {
  mh-usabilla-feedback.webcomponent {
    max-width: 1680px;
    width: 86%;
  }
}
